.social-list {
  @include tablet {
    display: none;
  }
  display: flex;
}
.social-list__item {
  &:nth-child(1) {
    padding-left: 0;
  }
  &:nth-child(4) {
    padding-right: 0;
  }
 padding-left: 10px;
 padding-right: 10px;
 &:not(:last-child) {
 border-right: 1px solid rgba(33,33,33,.2);
 }
}
.social-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
}
