@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

$primary-text-color: #757575;
$title-text-color: #212121;
$footer-color-text: rgba(255, 255, 255, 0.6);

$accent-color: #2196f3;
$active-color-button: #188ce8;

$background-color-button: rgba(245, 244, 250, 1);
$background-color: #ffffff;
$secondary-background-color: #2f303a;
$light-backgroung-color: rgba(245, 244, 250, 1);

$primary-icon-color: #afb1b8;
$primary-border-icon: #afb1b8;
$form-icon-color: #212121;

$white-color: #ffffff;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
